@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');
:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}
  
*,
::after,
::before {
    margin: 0;
    padding: 0;
    font-family: 'Spartan',
    sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
}

nav {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.logo {
    margin-top: 50px;
}

.sliders {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slider {
    position: absolute;
    height: 100vh;
    display: none;
    opacity: 0;
}

.active {
    display: block;
    opacity: 1;
}

.slider-img {
    width: 100%;
}

.slider-text {
    margin: 16px;
}

.slider-text h2 {
    color: var(--black);
}

.slider-text p {
    color: var(--dark-gray);
    margin-top: 10px;
    font-size: .8em;
}

.shop {
    display: flex;
    text-decoration: none;
    margin: 28px 0;
}

.shop span {
    display: inline;
    color: var(--black);
    font-size: .7em;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-right: 10px;
}
.about {
    width: 100%;
}

.about img {
    width: 100%;
}

.about-text {
    padding: 16px;
}

.about-text p {
    color: var(--dark-gray);
    font-size: .8em;
    margin-top: 10px;
}

.btn-next-prev{
    /* display: inline-block; */
    display:flex;
    background-color: aqua;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 46%;
    width: 144px;
    height: 70px;
}

.prev,.next{
    width: 50%;
    border: 0;
    background-color: hsl(0, 0%, 0%);
    cursor: pointer;
}

.prev:focus,.next:focus{
    filter: brightness(10);
    outline: 0;
}

/* Media query big screens */

@media screen and (min-width:1440px) {

    .sliders {
        height: 70vh;
    }

    .slider {
        height: 100%;
        width: 100%;
    }

    .active {
        display: flex;
    }

    .slider-img {
        width: 295%;
        height: 100%;
        object-fit: cover;
        flex-grow: 3;
    }

    .slider-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 80px;
        flex-grow: 1;
    }

    .slider-text h2 {
        font-size: 2em;
    }

    .slider-text p {
        font-size: 0.8em;
        font-weight: 500;
        margin: 10px 0;
        line-height: 21px;
    }

    .shop {
        margin: 12px 0;
    }
.shop span {
    font-size: 0.8em;
    color: var(--very-dark-gray);
    font-weight: 500;
    }

    .btn-next-prev {
        left: 62%;
        bottom: 0;
    }

    nav {
        text-align: left;
    }

    .logo {
        margin: 60px 30px;
    }

    .about {
        display: flex;
        height: 30vh;
    }
.about-text {
    flex-grow: 1;
    width: 866px;
    padding: 50px;
    }
.about-text h3 {
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 5px;
    }

    .about-text p {
        font-size: 0.8em;
        font-weight: 500;
        margin: 10px 0;
        line-height: 21px;
    }

    .light {
        flex-grow: 2;
        object-fit: cover;
    }

    #img2 {
        width: auto;
        height: auto;
    }

}